DATABASE_URL='postgresql://username:password@host:port/database_name'
REDIS_URL='redis://username:password@host:port'

JWT_SECRET='abc123def456ghi789jkl012mno345pqrs678tuv901wxyz'

NEXT_PUBLIC_DEPLOYMENT_URL='http://localhost:3000'